<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
  
  <div class="row">
    <aside class="col-sm-4">
      
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
      
    </aside>
    
    <!-- render で読み込み -->
    <div class="col-sm-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
    
  </div>
  
<% else %>
  <!-- containerに囲まれている状態。その後、横幅いっぱいに広げている -->
  <div class="center jumbotron">
      
  　<!-- 中央寄せ -->
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
    
  </div>
<% end %>